image: node:16

cache:
  paths:
    - node_modules/

stages:
  - build

before_script:
  - apt-get update && apt-get install -y curl
  - |
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash
    export NVM_DIR="$HOME/.nvm"
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
    nvm install 16.19.1
    nvm use 16.19.1
    node -v
    npm -v

build_job:
  stage: build
  script:
    - echo "echoooo"

build_job:
  stage: build
  script:
    - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@mmb.irbbarcelona.org/gitlab/d.beltran.anadon/mdposit_client.git
    - cp host-config.js mdposit_client/src
    - cd mdposit_client
    - touch .env
    - npm install
    - npm run build
    - ls -la build